.chat-main
  .chat-main__group-info
    .group-items
      .group-items__left
        .group-items__left-name
          test
        .group-items__left-member
          Member : masa
      .group-items__right
        .group-items__right-edit
          edit
  .chat-main__group-list
    .message-items
      .message-items__info
        .message-items__info-name
          masa
        .message-items__info-time
          2019/11/20(wed) 17:43:01
      .message-items__message
        おはよう！
    .message-items
      .message-items__info
        .message-items__info-name
          masa
        .message-items__info-time
          2019/11/20(wed) 17:43:34
      .message-items__message
        今日は夜から雨
  .chat-main__group-form
    .form
      %form.new_message
        .input-box
          %input{type: "text", class: "input-box__text", placeholder: "type a message"}
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file", class: "input-box__image__file"}
        %input{type: "submit", class: "submit-btn", value: "Send"}