.message-items{data: {message: {id: message.id}}}
  .message-items__info
    .message-items__info-name
      = message.user.name
    .message-items__info-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-items__message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?