.side-bar
  .side-bar__user-name
    .top-items
      masa
      .top-items__icons
        .Contents__btn
          = icon('far', 'edit')
          = icon('fa', 'cog')
  .side-bar__group-list
    .side-items
      .side-items__name
        techcamp
      .side-items__message
        まだメッセージがありません
    .side-items
      .side-items__name
        techcamp
      .side-items__message
        まだメッセージがありません

