* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  &__user-name {
    width: 300px;
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .top-items {
      height: 20px;
      width: 300px;
      margin: 0 20px;
      font-size: 16px;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__icons {
        .contents__btn {
          margin-left: 5px;
          .far {
            color: #ffffff;
          }
          .fa {
            color: #ffffff;
          }
        }
      }
    }
  }
  .side-bar__group-list {
    height: calc(100vh - 100px);
    .side-items {
      color: #ffffff;
      &__name {
        margin: 20px 20px 5px 20px;
        font-size: 15px;
      }
      &__message {
        margin: 0 20px 40px 20px;
        font-size: 11px;
      }
    }
  }
}
.chat-main {
  height: 100vh;
  width: calc(100vw - 100px);
  background-color:#ffffff;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    .group-items {
      display: flex;
      justify-content: space-between;
      &__left {
        .group-items__left-name {
          color: #333333;
          font-size: 20px;
          margin-top: 35px;
        }
        .group-items__left-member {
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
        }
      }
      &__right {
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        .group-items__right-edit {
          color: #38aef0;
          line-height: 40px;
          font-size: 16px;
          padding: 0 20px;
          border: 1px solid #38aef0;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    .message-items {
      padding: 35px 0 11px 40px;
      &__info {
        display: flex;
        margin-bottom: 12px;
        .message-items__info-name {
          color: #333333;
          font-size: 16px;
          margin-right: 10px;
        }
        .message-items__info-time {
          color: #999999;
          font-size: 12px;
        }
      }
      &__message {
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  .chat-main__group-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    
    form {
      display: flex;
      .input-box {
        display: flex;
        width: 100%;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;

          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: #ffffff;
        border: none;
        cursor: pointer;
      }
    }
  }
}
